@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.container {
  margin: 0 5%;
  width: 90%;
  font-size: 1.4rem;
  text-align: center;
}
p {
  margin-top: 0.5%;
}
#ribbon {
  height: 20%;
  width: 100%;
  background-image: url("Images/blueRibbon.png");
  background-repeat: repeat-x;
  background-position: 45% 55%;
}
.blue {
  color: rgb(3, 116, 197);
}
#ship2 {
  margin-left: 106%;
  margin-top: 0.5%;
  width: "180px";
  height: "60px";
  animation: shipping2 14s 0s ease-in infinite;
}
span {
  color: orangered;
  font-size: 1.55rem;
  font-weight: bold;
}
@keyframes shipping2 {
  0% {
    margin-left: 106%;
  }
  100% {
    margin-left: -155%;
  }
}

a {
  color: black;
}
a:hover {
  color: rgb(246, 167, 138);
}
